{% extends 'base.html' %}
{%  block head %}

{% endblock %}
{% block title %}

{% endblock %}
{% block body %}
    <div style="margin: auto; width: 75%; margin-top: 30px;">
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Task Name</th>
      <th scope="col">Date Created</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
  {% if all_tasks %}
  {% for task in all_tasks %}

    <tr>
      <th scope="row">{{ task.id }}</th>
      <td>{{ task.task_name }}</td>
      <td>{{ task.date_created }}</td>
      <td>
        <a href="/complete/{{ task.id }}">  <button type="button" class="btn btn-success m-1" >Completed</button></a>
          <a href="/update/{{ task.id }}">  <button type="button" class="btn btn-info m-1">Update</button></a>
          <a href="/delete/{{ task.id }}">  <button type="button" class="btn btn-danger m-1">Delete</button></a>
      </td>
    </tr>
  {% endfor %}
  {% endif %}
    </tbody>
</table>


    <form method="post" action="/">
        {% csrf_token %}
  <div class="mb-3">
    <label for="newtask" class="form-label">Add New Task</label>
    <input type="text" class="form-control" id="newtask" name="newtask" placeholder="Task ">
  </div>

  <button type="submit" class="btn btn-primary">Add Task</button>
</form>

    </div>
{% endblock %}
