{% extends 'base.html' %}
{%  block head %}

{% endblock %}
{% block title %}

{% endblock %}
{% block body %}

 <div style="margin: auto; width: 75%; margin-top: 30px;">
    <form method="post" action="/update/{{ task.id }}">
        {% csrf_token %}
  <div class="mb-3">
    <label for="newtask" class="form-label">Add New Task</label>
    <input type="text" class="form-control" id="newtask" name="newtask" value="{{ task.task_name }}">
  </div>

  <button type="submit" class="btn btn-primary">Add Task</button>
    </form></div>

{%  endblock %}